---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import FeaturedProjects from '../components/FeaturedProjects.astro';
import PythonProjects from '../components/PythonProjects.astro';
import Skills from '../components/Skills.astro';
import TechStack from '../components/TechStack.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Aman Verma | Senior Developer & Systems Engineer">
  <Header />
  <main>
    <Hero />
    <About />
    <FeaturedProjects />
    <PythonProjects />
    <Skills />
    <TechStack />
    <Contact />
  </main>
  <Footer />
</Layout>
